{% load staticfiles %}
<!-- DOCTYPE HTML -->
<html>
<head>
	<title>{% block head_title %} CineMasti {% endblock head_title %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href='{% static "css/base.css" %}'/>
</head>
<style type="text/css">
  
  body{
  background-color: #eae7e7;
  }

  .img-list{
    max-width: 100%; 
    max-height: 70%;
  }
.list_thumbnail {
    height: 430px;
}
tr { 
  line-height: 22px; 
}

</style>
<body>

<div class="container">
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'movies:list' %}">CineMasti</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'movies:in_theaters' %}">In Theaters <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'movies:coming_soon' %}">Coming Soon</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'movies:movies_genre' genre='action' %}? ">Action</a></li>
            <li><a href="{% url 'movies:movies_genre' genre='adventure' %}">Adventure</a></li>
            <li><a href="{% url 'movies:movies_genre' genre='animation' %}">Animation</a></li>
            <li><a href="{% url 'movies:movies_genre' genre='comedy' %}">Comedy</a></li>
            <li><a href="{% url 'movies:movies_genre' genre='drama' %}">Drama</a></li>
            <li><a href="{% url 'movies:movies_genre' genre='fantasy' %}">Fantasy</a></li>
            <li><a href="{% url 'movies:movies_genre' genre='historical' %}">Historical</a></li>
            <li><a href="{% url 'movies:movies_genre' genre='horror' %}">Horror</a></li>
            <li><a href="{% url 'movies:movies_genre' genre='mystery' %}">Mystery</a></li>
            <li><a href="{% url 'movies:movies_genre' genre='romance' %}">Romance</a></li>
            <li><a href="{% url 'movies:movies_genre' genre='science_fiction' %}">Science Fiction</a></li>
            <li><a href="{% url 'movies:movies_genre' genre='thriller' %}">Thriller</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search" value='{{ request.GET.q }}'>
        </div>
        <button type="submit" value='Search' class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>


<div class='container'>
{% block content %}{% endblock content %}
</div>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 

</body>
</html>


